<h1>Welcome to the blog creator!</h1>
<h2>You can choose the following two options:</h2>
<p><%= link_to 'Show Current Articles', articles_path%></p>
<p><%= link_to 'Create New Article', new_article_path%></p>


