@import 'bootstrap/dist/css/bootstrap';

.navbar {

  background-color: black !important;
}

.nav-link {
  color: white !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  font-weight: bold;
  text-transform: uppercase;
}


#home-container {
  margin-top: 25px;
  text-align: center;
}

.jumbotron {
  background-image: asset_url('patrick-fore-0gkw_9fy0eQ-unsplash.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 425px;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgray;
}

#sticky-footer {
  flex-shrink: 0;
}

/* Other Classes for Page Styling */

body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}
